<% remote ||= false %>
<% delete_label = 'slet relator' unless delete_label.present? %>

<%= builder.simple_fields_for :relators, defaults: { wrapper_html: { class: 'form-group' },
                                                       input_html: { class: 'form-control' }
                                         } do |rel_fields| %>
    <% id = "#{id}_#{rel_fields.index }" %>
    <div id="<%= id %>" class="row relator_fields">
      <a class="btn btn-sm btn-error col-sm-offset-11" href="#" data-function="delete-fields" data-target="#<%=id %>">
        <span class="glyphicon glyphicon-minus"></span>
        <%= delete_label %>
      </a>
      <div class="col-sm-12">
        <%= rel_fields.input :agent_id,  wrapper_html: { class: 'col-sm-2' }, input_html: {class: 'form-control', data: {function: 'authority-typahead', model: 'Person'}} %>
        <%= rel_fields.hidden_field :_destroy %>
        <%= rel_fields.input :role,  wrapper_html: { class: 'col-sm-2' }, required: true %>
      </div>
    </div>
<% end %>